<div class="row">
    <div class="col-md-12">
        <div class="burger-list">
            {{#each burgers}}
                <p>{{burger_name}}</p>
                <button>Devour</button>
            {{/each}}
        </div>
    </div>
</div>