<div class="container">


    <div class="row">
        <div class="col-md-6">
            <div class="burger-list">
                {{#each burgers}} {{#unless this.devoured}}
                <div class="burger" data-devoured="false">
                    <img src="assets/img/krabby_patty.jpg" alt="krabby-patty-pic" id="burger-pic">
                    <h5>{{this.burger_name}}</h5>
                    <button data-burger-id="{{this.id}}" class="devour-button btn-outline-primary mb-3">Devour</button>
                </div>
                {{/unless}} {{/each}}
            </div>
        </div>

        <div class="col-md-6">
            <div class="burger-list">
                {{#each burgers}} {{#if this.devoured}}
                <div class="devoured-burger">
                    <img src="assets/img/krabby_patty.jpg" alt="krabby-patty-pic" id="burger-pic">
                    <h5>{{this.burger_name}}</h5>
                </div>
                {{/if}} {{/each}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 centered">
            <div class="burger-entry">
                <form action="/insert" method="POST" id="add-burger-form">
                    <input type="text" id="new-burger" name="burger-name" placeholder="New Burger">
                    <button type="submit" class="add-burger-button btn-outline-primary">Add The Burger</button>
                </form>
            </div>
        </div>
    </div>
</div>